/***************************************
          MODAL BASE STYLING
***************************************/
.modal {
  background: #FFFFFF;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  resize: both;
  width: 40%;
  height: 60%;
  min-width: 300px;
  min-height: 300px;
  overflow: hidden;
  position: absolute;
  left: 28%;
  top: 20%;
  border: 1px solid black;
  z-index: 2
}

.modal:active, .modal:target {
  z-index: 19;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
  min-height: 45px;
  box-sizing: border-box;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #4AAE9B;
  justify-content: space-between;
  margin-top: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.modal-header h3 {
  font-weight: normal;
  font-size: 1em;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: relative;
  padding: 20px 10px;
  user-select: text;
}

.btn-close {
  border: none;
  font-size: 15px;
  padding: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  font-weight: bold;
  color: #4AAE9B;
  background: transparent;
}

.btn-close:hover {
  background-color: rgba(36, 36, 36, 0.19);
}

/***************************************
          FILE EXPLORER STYLING
***************************************/


/***************************************
            WORD FILE STYLING
***************************************/
.word p {
  font-family: cursive;
}

#cke_editor {
  height: 100%;
}

.cke_1_contents, .cke_inner {
  height: 90% !important;
}

.word.modal {
  min-width: 400px;
  padding-bottom: 15px;
}

.word .modal-header {
  border: none;
}

.word .modal-body {
  height: 92%;
  box-sizing: border-box;
  margin-top: 0;
  padding-top: 2px;
}


/***************************************
          PORTFOLIO STYLING
***************************************/



/***************************************
              EMAIL STYLING
***************************************/


/***************************************
          WEB BROWSER STYLING
***************************************/
#web-browser .modal-body, #web-browser iframe {
  width: 100%;
  height: 90%;
  max-height: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  user-select: none;
}

 .icon-in-window {
   color: black;
 }
